/* import */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* ____ */
.form-container {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.box-title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.0025em;
  color: #2a414f;
  text-align: center;
}
.input-group {
    margin-bottom: 20px;
}
.input-group label {
  display: block;
  margin: 0 0 5px 5px;
}
.input-group input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  border-radius: 5px;
  font-size: 24px;
  padding: 0 10px;
}
.submit-btn{
    width: 437px;
    height: 55px;
    border-radius: 5px;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 400;
    background-color: rgba(255, 153, 0, 0.3);
    cursor: pointer;
}
.extra-option{
    font-size: 15px;
    line-height: 18px;
    margin-top: 9px;
    text-align: center;
}
.extra-option a{
    color: #FF9900;
}
.or{
    margin: 30px 0;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #95A0A7;
}
.google-singin{
    width: 437px;
    height: 55px;
    text-align: center;
}